<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body>

<!-- Header -->
<header class="main_header">
  <h1>BE NEXT EXPLORER! </h1>

  <a href="input">
    <button class="button">Start!</button>
  </a>

</header>

<!-- Body -->
<p class="notes">This is a Udacity project for  
  <a href="https://www.udacity.com/course/programming-for-data-science-nanodegree--nd104">
    <em>Programming for Data Science with Python</em>
  </a> Nanodegree.
  <br><br>
   The data is from <a href="https://www.divvybikes.com/"><em>Divvy Bikes</em></a></p>
<p class="date">2020-Jan-21</p>
  
</body>
</html>